*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}
.button {
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-700px;
    border-radius: 12px;
  }
  .button1 {background-color:grey;}
  .button1:hover{
      background-color:deepskyblue;
  }
  .button3 {
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-1000px;
    border-radius: 12px;
  }
  .dropdown:hover .dropbtn {
    background-color: deepskyblue;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonials{
    background: #fff;
    padding: 30px;
}
.flip-card {
    background-color:transparent;
    width: 140px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: right;
    
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:#212529;
    align-items: center;
    
    
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:#212529;
    color:#434343;
    transform: rotateY(180deg);
    margin-top: 50px;
  }

.testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.testimonials-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonials-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}

.testimonials-box:hover{
    transform: translateY(-25px);
    transition: all ease 0.3s;
}

@media screen and (max-width:960px) {
    .col{
        flex: 100%;
        max-width: 80%;
    }
}


@media screen and (max-width:600px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }
}
