body {
  background-color: #dcdcdc;
}
.card-body img {
    margin-top: 2rem;
    width: 4rem;
  }
  .col-md-3 {
    margin: 2rem;
  }
  .headercontent {
    font-size: 3.5rem;
  }
  .headercontent span {
    color: red;
  }
  .cards2 {
    height: 50vh;
  }
  .color4 h5 {
    color: grey;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans';
    text-align: center;
    font-weight: bold;
  }
  .color4 h3,
  h5 {
    color: black;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans';
    text-align: center;
    font-weight: bold;
  }
  .color4 {
    border-radius: 50px;
    border: gray 1px solid;
    height: 19rem;
    
  }